# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular
dist/
out-tsc/
coverage/
.angular/

# IDEs y editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Entorno
.env

# Angular cache
.angular

# Build artifacts
/build/